
.event__body {
    color: white;
    /* width: 70%; */
    /* margin-left: 35vh; */
    margin:30vh;
    margin-top:0;
    margin-bottom: 0;
    font-family: var(--font-family);
}

.event_sub__img{
    text-align: center;

}

.event__sub_text {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.event__head h1{
    display: flex;
    align-items: center;
}

.event__body h1 {
    color: var(--banana-color);
    margin-bottom: 1vh;
    text-align: center;
    font-size: 40px;
}

.event__body img {
    max-width: 70%;
    height: auto;  
    vertical-align: middle;
}

.event__body .period{
    /* font-size: large; */
    
}

.event_sub__period {
    display: flex;
    justify-content: center;
    margin-top:1vh;
    margin-bottom:5vh;
}

.event__sub__text p{
    text-align: left;
    font-size: large;
}

.event__body p {
    /* color: var(--white-color);
    margin-top: 10vh;
    font-size: large; */

}

.event__sub_text p{
    margin-top: 10vh;
    font-size: large;
}


@media screen and (max-width: 1050px) {

    /* ipad */
    .event__body {
        margin: 15vw;
        margin-top:0;
    }

    .event__body h1 {
        /* margin: 1vh 7vh; */
        margin-bottom: 0vh;
    }

    .event__body p {
        /* margin: 1vh 7vh;
        margin-bottom: 5vh;
        font-size: larger; */


    }

    .event__body__img img {
        /* height: 60vh;
        width: 60vh; */
        max-width: 50%;
        height: auto;
    }
    .event__post {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 1025px) {
    .event__sub__img img{

        max-width: 50%;
        height: auto;
    }


    
    .event__body p {
        margin-top: 1vh;
        font-size: larger;
    }

   

}

@media screen and (max-width: 912px){
    /* surface pro7 */
    .event__body__img img{
        /* height: 50vh;
        width: 50vh; */
        max-width: 50%;
        height: auto;
    }

    .event__body p {
        margin-top: 1vh;
        margin:0;
        font-size: larger;
    }



}

@media screen and (max-width: 650px) {

    /* iphone */
    .event__body {
        margin: 15vw;
    }

    .event__body h1 {
        /* margin: 5vh; */
    }

    .event__body p {
        margin: 0vh;
    }

    .event__sub__img img {
        /* height: 50vh;
        width: 50vh; */
        max-width: 80%;
        height: auto;
    }


    .event__post {
        display: inline-block; 
        vertical-align: middle;
    }

    .event_sub__period .period{
        white-space:nowrap;
        margin:0;
    }
}

@media screen and (max-width:597px) {
    /* surface duo */
    .event__body__img img {
        max-width: 80%;
        height: auto;
        
    }

    .event_sub__period {
        /* margin: 5vh;
        margin-top: 1vh; */
        font-size: smaller;
        word-break: keep-all;

    }
    .event_sub__period .period{
        font-size: 15px;
        white-space:nowrap;
        margin:0;
    }


}

@media screen and (max-width: 490px) {

    /* galaxy fold */
    .event__body {
        margin: 10vw;
        margin-top:0;
    }

    .event__body h1 {
        /* margin: 5vh; */
        margin-bottom: 1vh;
    }

    .event__body p {
        margin: 0vh;
        margin-top: 1vh;
    }

    .event__sub__img img {
        max-width: 80%;
        height: auto;
    }

    .event__body h1 {
        margin-left: 0;
        font-size: 10vw;
        display: flex;
        align-items: center;
    }

        /* .other__posts h1{
        font-size: 10vw;

    } */

    .event_sub__period .period{
        font-size: small;
        white-space:nowrap;
        margin:0;
    }
    
}


@media screen and (max-width: 281px) {
    .event_sub__period .period{
        font-size: 11px;
        white-space:nowrap;
        margin:0;
    }
}