.ett__teams {
  margin: auto;
  max-width: 1600px;
}

.ett__teams-heading h1 {
  color: #fff;
  font-family: var(--font-family);
  font-size: 21px;
  letter-spacing: 5px;

  display: flex;
  align-items: center;
  height: 100%;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  .ett__teams-heading h1 {
    font-size: 30px;
  } 
}

 /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .ett__teams-heading h1 {
    font-size: 35px;
  } 
}
 
 /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .ett__brand-heading h1 {
    font-size: 35px;
  } 
}

 
 /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .ett__teams-heading h1 {
    font-size: 40px;
  } 
}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}